/*********************** Tags **********************/

/*********************** Class **********************/

.thread-state {
    background-color: rgb(255, 145, 0);
    border-color: rgb(255, 162, 0);
    color: white;
}

/*********************** ID **********************/